/*--------------------------------------------------шрифты--------------------------------------------------*/
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Black.woff2') format('woff2');
    src: url('../fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2');
    src: url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Light.woff2') format('woff2');
    src: url('../fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2');
    src: url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-SemiBold.woff2') format('woff2');
    src: url('../fonts/ProximaNova-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Thin.woff2') format('woff2');
    src: url('../fonts/ProximaNova-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/*--------------------------------------------------общие стили--------------------------------------------------*/
* {
    outline: 1px solid red;
}

html, body {
    font-size: 16px;
    font-family: 'ProximaNova', 'Arial', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

select, button {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.template-shadow {
    /*display: grid;*/
    /*max-width: 1600px;*/
    /*grid-template-columns: 100%;*/
    /*grid-template-rows: 950px auto 600px auto auto 1050px 860px;*/
    max-width: 1600px;
    margin: 0 auto;
    box-shadow: 0 0 35px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background: url("../images/square-bg.png") center center no-repeat;
}

/*--------------------------------------------------стили для header --------------------------------------------------*/

.header {
    display: grid;
    grid-template-columns: 180px auto 115px;
    grid-template-rows: 100px 850px;
    background: url("../images/bg.jpg") center center no-repeat;
    padding: 0 14.5%;
}

.header-logo-block {
    grid-row: 1/2;
    grid-column: 1/2;
}

.header-menu-block {
    grid-row: 1/2;
    grid-column: 3/4;
}

.header-main {
    grid-row: 2/3;
    grid-column: 2/3;
}

/*--------------------------------------------------стили для tizers --------------------------------------------------*/

.tizers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 210px; /*delete*/
    background-color: #fff5f8;
    padding: 0 14.5%;
}

/*--------------------------------------------------стили для about-mars --------------------------------------------------*/

.about-mars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 140px 510px;
    grid-gap: 0 60px;
    background: url("../images/ellips.png") center bottom no-repeat;
    padding: 0 14.5%;
}

.about-mars-title {
    grid-column: 1/-1;
}

.about-mars-block:first-child {
    grid-row: 2/3;
    grid-column: 1/2;
}

.about-mars-block:first-child {
    grid-row: 2/3;
    grid-column: 2/3;
}
/*--------------------------------------------------стили для realization --------------------------------------------------*/

.realization {
    display: grid;
    grid-template-rows: 140px 440px 505px; /*more 100px*/
    grid-gap: 0 60px;
    padding: 0 14.5%;
}

.realization-title {
}

.realization-text-block {
    display: grid;
    grid-template-columns: 700px 380px;
    grid-gap: 60px;
}

.realization-fly {
}

/*--------------------------------------------------стили для video --------------------------------------------------*/

.video {
    display: grid;
    grid-template-rows: 220px 570px 465px;
    background: url("../images/stars.jpg") center center no-repeat;
    padding: 0 14.5%;
}

/*--------------------------------------------------стили для life --------------------------------------------------*/

.life {
    display: grid;
    grid-template-rows: 215px 835px;
    padding: 0 14.5%;
}

/*--------------------------------------------------стили для footer --------------------------------------------------*/

.footer {
    display: grid;
    grid-template-rows: 245px 415px 200px;
    background: url("../images/Layer_2.jpg") center center no-repeat;
    padding: 0 14.5%;
}